/blib/
/src/*.o
/src/Makefile
/.panda-work
/resources/*.so
/resources/*.dylib
.precomp/
/releases/
/P5built-ins-*
/lib/P5__FILE__.pm6
/lib/P5caller.pm6
/lib/P5chdir.pm6
/lib/P5chomp.pm6
/lib/P5chr.pm6
/lib/P5defined.pm6
/lib/P5each.pm6
/lib/P5fc.pm6
/lib/P5fileno.pm6
/lib/P5getgrnam.pm6
/lib/P5getnetbyname.pm6
/lib/P5getpriority.pm6
/lib/P5getprotobyname.pm6
/lib/P5getpwnam.pm6
/lib/P5getservbyname.pm6
/lib/P5hex.pm6
/lib/P5index.pm6
/lib/P5lc.pm6
/lib/P5lcfirst.pm6
/lib/P5length.pm6
/lib/P5localtime.pm6
/lib/P5math.pm6
/lib/P5opendir.pm6
/lib/P5pack.pm6
/lib/P5print.pm6
/lib/P5push.pm6
/lib/P5quotemeta.pm6
/lib/P5readlink.pm6
/lib/P5ref.pm6
/lib/P5reset.pm6
/lib/P5reverse.pm6
/lib/P5seek.pm6
/lib/P5shift.pm6
/lib/P5sleep.pm6
/lib/P5study.pm6
/lib/P5substr.pm6
/lib/P5tie.pm6
/lib/P5times.pm6
/lib/P5-X.pm6
